<div class="container-fluid">
    <div class="container pt-2">
        <h3 class="mt-3 text-center">Final Round</h3>
        <div class="mb-1 mt-1">
            <button (click)="saveScore()">Save Scores</button>
        </div>
        <div class="border">
            <hot-table
                    #finalRoundHotTable
                    rowHeights="40"
                    [nestedHeaders]="nestedHeaders"
                    [rowHeaders]="true"
                    [contextMenu]="true"
                    className= "htCenter"
                    stretchH="'all'"
                    [data]="data && data.contestants ? data.contestants : []"
                    width = "100%"
                    height="600"
                    [dataSchema]="contestantSample"
                    [fixedColumnsLeft]="2"
                    [licenseKey]="'non-commercial-and-evaluation'">
                <hot-column className="htLeft"
                            type="dropdown"
                            [source]="[gender.Male, gender.Female]"
                            data="CATEGORY">
                </hot-column>
                <hot-column className= "htLeft"
                            data="CANDIDATE_NUMBER">
                </hot-column>
                <hot-column  type="numeric"
                             data="FR_SU_PERSONALITY">
                </hot-column>
                <hot-column type="numeric"
                            data="FR_SU_POISE">
                </hot-column>
                <hot-column type="numeric"
                            data="FR_SU_CARRIAGE">
                </hot-column>
                <hot-column  type="numeric"
                             data="FR_SW_POISE">
                </hot-column>
                <hot-column type="numeric"
                            data="FR_SW_CARRIAGE">
                </hot-column>
                <hot-column  type="numeric"
                             data="FR_SW_FIGURE">
                </hot-column>
                <hot-column  type="numeric"
                             data="FR_SW_SPORTS_IDENTITY">
                </hot-column>
                <hot-column  type="numeric"
                             data="FR_CC_CONCEPT">
                </hot-column>
                <hot-column  type="numeric"
                             data="FR_CC_POISE">
                </hot-column>
                <hot-column  type="numeric"
                             data="FR_CC_CARRIAGE">
                </hot-column>
                <hot-column  type="numeric"
                             data="FR_CC_BEAUTY">
                </hot-column>
            </hot-table>
        </div>
    </div>

</div>