<div class="container-fluid">
    <div class="container">
        <h3 class="mt-3">Preliminary Round</h3>
        <hot-table
                rowHeights="40"
                [nestedHeaders]="nestedHeaders"
                [rowHeaders]="false"
                [contextMenu]="true"
                className= "htCenter"
                [stretchH]="'all'"
                [licenseKey]="'non-commercial-and-evaluation'">
            <hot-column data="candidate_name">
            </hot-column>
            <hot-column data="qa_content">
            </hot-column>
            <hot-column data="qa_concept">
            </hot-column>
            <hot-column data="qa_impact">
            </hot-column>
            <hot-column data="po_poise">
            </hot-column>
            <hot-column data="po_carriage">
            </hot-column>
            <hot-column data="po_beauty">
            </hot-column>
            <hot-column data="po_impact">
            </hot-column>
            <hot-column data="attendance">
            </hot-column>
        </hot-table>
    </div>

</div>