<div class="container-fluid">
    <div class="container">
        <h3 class="mt-3">Preliminary Round</h3>
        <hot-table
                rowHeights="40"
                [nestedHeaders]="nestedHeaders"
                [rowHeaders]="false"
                [contextMenu]="true"
                className= "htCenter"
                [stretchH]="'all'"
                [licenseKey]="'non-commercial-and-evaluation'">
            <hot-column data="CONTESTANT">
            </hot-column>
            <hot-column data="QA_CONTENT">
            </hot-column>
            <hot-column data="QA_CONCEPT">
            </hot-column>
            <hot-column data="QA_IMPACT">
            </hot-column>
            <hot-column data="PO_POISE">
            </hot-column>
            <hot-column data="PO_CARRIAGE">
            </hot-column>
            <hot-column data="PO_BEAUTY">
            </hot-column>
            <hot-column data="PO_IMPACT">
            </hot-column>
            <hot-column data="ATTENDANCE">
            </hot-column>
        </hot-table>
    </div>

</div>