<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        <span><img width="100" alt="Angular Logo" src="assets/image/png/score.png"> </span> <span>Score Board</span>
    </h1>
</div>

<div class="container">
    <!--<hot-table-->
            <!--className="font-small-2"-->
            <!--[data]="data"-->
            <!--[colHeaders]=""-->
            <!--[rowHeaders]="false"-->
            <!--contextMenu="true"-->
            <!--stretchH="all"-->
            <!--[licenseKey]="'non-commercial-and-evaluation'">-->
    <!--</hot-table>-->


    <hot-table [settings]="hotSettings" [licenseKey]="'non-commercial-and-evaluation'">

    </hot-table>
</div>