<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        <span>Score Board</span>
    </h1>
</div>
<div class="container">
    <h3>Preliminary Round</h3>
    <ngb-tabset #t="ngbTabset">
        <ngb-tab id="tab-selectbyid1" title="Question and Answer">
            <ng-template ngbTabContent>
                <div class="m-4">
                    <hot-table [settings]="preQuestionHotSettings" [rowHeaders]="false" [contextMenu]="true" [licenseKey]="'non-commercial-and-evaluation'"></hot-table>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-selectbyid2" title="Production Outfit">
            <ng-template ngbTabContent>
                <div class="m-4">
                    <hot-table [settings]="preProductionOutfitHotSettings" [rowHeaders]="false" [contextMenu]="true" [licenseKey]="'non-commercial-and-evaluation'"></hot-table>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

</div>
<button (click)="getJudge()">get Judge</button>