/* You can add global styles to this file, and also import other style files */
@import '~handsontable/dist/handsontable.full.css';

* {
    font-family:  "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace !important;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

